{{ use('/yii/widgets/ActiveForm') }}

{# @var $this yii\web\View #}
{# @var $model app\models\Vote #}
{# @var $id item id #}
{# @var $title item title #}
{# @var $form yii\widgets\ActiveForm #}

{{ set(this, 'title', 'Vote on ' ~ title ~ ' - EatDrinkTime') }}

<div class="item-vote">

	<h1>Vote</h1>
	<h5>
	What time do you normally consume this item?<br>
	Each check mark counts as a vote.<br>
	When all three boxes are checked, a single vote will be placed for anytime.
	</h5>

	<p><a href="{{ url('item/view', {'id': id, 'title': title}) }}" class='btn btn-default'>{{ title }}</a></p>

	{% set form = active_form_begin() %}

		{{ form.field(model, 'times').checkboxList({'morning' : 'morning', 'afternoon' : 'afternoon', 'night' : 'night'},
		 {'separator' : '<br>'})|raw }}

		<div class="form-group">
			{{ html.submitButton('Vote', {'class': 'btn btn-primary'})|raw }}
		</div>

	{{ active_form_end() }}

</div>
