html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 70px 15px 20px;
}

footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/**
 * Yii CSS ends
 * LESS begins
 */

.site-index {
	h2 {
		.font_pattern;
		height: 25px;
	}
	.pane:hover {
		background-color: #eee;
	}
	a {
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}
}
.item-view {
	h1 {
		.font_pattern;
		font-size: 50px;
		margin-top: 17px;
	}
	h2, h4 {
		.font_pattern;
	}
	h4 {
		margin-bottom: 20px;
		span {
			display: inline-block;
		}
	}
	#controls {
		text-align: right
	}
	.btn-purple {
		@btn-purple-bg: #7E3F9D;

		color: #fff;
		background-color: @btn-purple-bg;
		border-color: darken(@btn-purple-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
	.btn-black {
		@btn-black-bg: #090909;

		color: #fff;
		background-color: @btn-black-bg;
		border-color: darken(@btn-black-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
	.btn-light-purple {
		@btn-light-purple-bg: lighten(#7E3F9D, 35%);

		color: #fff;
		background-color: @btn-light-purple-bg;
		border-color: darken(@btn-light-purple-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
	.btn {
		margin-bottom: 3px;
	}
}
.item-update {
	.btn-light-purple {
		@btn-light-purple-bg: lighten(#7E3F9D, 35%);

		color: #fff;
		background-color: @btn-light-purple-bg;
		border-color: darken(@btn-light-purple-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
}
.item-vote, .image-submit, .item-item-link, .item-item-view, .item-update, .image-wall, .item-index, .image-index,
.item-item-index, .image-update, .item-submit, .item-list, .site-contact, .site-super-secret-login, .site-index,
.site-secure-signin {
	h1 {
		font-weight: bold;
	}
}
.image-view {
	.btn-black {
		@btn-black-bg: #090909;

		color: #fff;
		background-color: @btn-black-bg;
		border-color: darken(@btn-black-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
	.btn-grey {
		@btn-grey-bg: lighten(#090909, 35%);

		color: #fff;
		background-color: @btn-grey-bg;
		border-color: darken(@btn-grey-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
}
.image-update {
	.btn-black {
		@btn-black-bg: #090909;

		color: #fff;
		background-color: @btn-black-bg;
		border-color: darken(@btn-black-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
	.btn-grey {
		@btn-grey-bg: lighten(#090909, 35%);

		color: #fff;
		background-color: @btn-grey-bg;
		border-color: darken(@btn-grey-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
}
.item-item-view {
	.btn-light-orange {
		@btn-light-orange-bg: lighten(#FF851B, 25%);

		color: #fff;
		background-color: @btn-light-orange-bg;
		border-color: darken(@btn-light-orange-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
}
.item-item-link {
	.btn-purple {
		@btn-purple-bg: #7E3F9D;

		color: #fff;
		background-color: @btn-purple-bg;
		border-color: darken(@btn-purple-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
}
.site-index, .item-index, .image-index, .item-item-index {
	.btn-purple {
		@btn-purple-bg: #7E3F9D;

		color: #fff;
		background-color: @btn-purple-bg;
		border-color: darken(@btn-purple-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
	.btn-black {
		@btn-black-bg: #090909;

		color: #fff;
		background-color: @btn-black-bg;
		border-color: darken(@btn-black-bg, 5%);

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
}
.item-index {
	.btn {
		margin-bottom: 3px;
	}
}
.item-submit {
	a:hover, a:focus, a:active {
		text-decoration: none;
	}
}
.font_pattern() {
	font-weight: bold;
	text-align: center;
}
.navbar-inverse .navbar-brand {
	color: #333;
	font-weight: bold;
}